!!! 5
%html(lang="en")
  %head
    %title More
    %meta(charset="utf-8")
    %meta(name="author" content="Julio Cesar Ody")
    %meta(name="viewport" content="width=device-width")
    %link(rel="stylesheet" href="/screen.css")
    %script(src="/jquery-1.4.2.min.js")
    %script(src="/more.js")
    %script
      $(['header', 'footer', 'section', 'article']).each(function() { document.createElement(this) });
  %body
    %header
      %h1 More
    = yield
    %footer
      Made with ♥ by
      %a(href="http://crazyhollwood.org") Julio Cesar Ody